<div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Update Reservation </h4>
      <div class="d-flex align-items-center overflow-hidden"><!----></div>
    </div>
    <div class="col-sm-4 text-right position-relative">
      <div class="breadcrumb-icon">
        <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165"/>
      </div>
    </div>
  </div>
</div>
<mat-card-content>
  <mat-card class="cardWithShadow">

    <div class="row">

        <form #f="ngForm">
          <div class="row">

            <div class="col-md-4 mb-3">

              <label class="form-label" for="estValid"> Valider Reservation De Cette Date : {{ reservation_data.anneeUniv | date:'dd-MM-yyyy' }}
              </label>
              <br>
              <label class="form-label">Pour L'etudiant : {{reservation_data.user.firstName}} {{reservation_data.user.lastName}}</label>
              <br>
              <select class="form-select" id="estValid" name="estValid" [(ngModel)]="reservation_data.estValide">
                <option>Oui</option>
                <option>Non</option>
              </select>

            </div>
          </div>

          <button type="button" mat-flat-button class="Extended-Fab" (click)="sendDataToParent()">
                    <span class="Extended-Fab__container">
                        <span class="Extended-Fab__text">Update</span>
                    </span>
          </button>
        </form>
      </div>
  </mat-card>
</mat-card-content>

