<main>
    <!-- <div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Universitie detail</h4>
                <div class="d-flex align-items-center overflow-hidden"></div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon">
                    <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165" />
                </div>
            </div>
        </div>
    </div> -->

    <section class="teacher__area pt-150 pb-110">
        <div class="page__title-shape">
            <img class="page-title-shape-5 d-none d-sm-block" src="assets/images/page-title/page-title-shape-1.png"
                alt="">
            <img class="page-title-shape-6" src="assets/images/page-title/page-title-shape-6.png" alt="">
            <img class="page-title-shape-3" src="assets/images/page-title/page-title-shape-3.png" alt="">
            <img class="page-title-shape-7" src="assets/images/page-title/page-title-shape-4.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="teacher__details-thumb p-relative w-img pr-30">
                        <div class="uni__img__container">
                            <img class="uni__img" src="assets/images/teacher/esprit.jpg" alt="">
                        </div>
                        <div class="teacher__details-shape">
                            <img class="teacher-details-shape-1" src="assets/images/teacher/details/shape/shape-1.png"
                                alt="">
                            <img class="teacher-details-shape-2" src="assets/images/teacher/details/shape/shape-2.png"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="teacher__wrapper">
                        <div class="teacher__top d-md-flex align-items-end justify-content-between">
                            <div class="teacher__info">
                                <h4>ESPRIT</h4>
                                <span>se former autrement</span>
                            </div>

                            <div class="teacher__social-2 m-t-32">
                                <h4>Follow Us</h4>
                                <ul>
                                    <li>
                                        <a href="#" mat-icon-button
                                            class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                                            <i-tabler style="color: #3967ff; font-weight: 100;"
                                                class="routeIcon Extended-Fab__icon" name="brand-facebook"
                                                matListItemIcon></i-tabler>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" mat-icon-button
                                            class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                                            <i-tabler style="color: #292929; font-weight: 100;"
                                                class="routeIcon Extended-Fab__icon" name="brand-x"
                                                matListItemIcon></i-tabler>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" mat-icon-button
                                            class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                                            <i-tabler style="color: #6f90ff; font-weight: 100;"
                                                class="routeIcon Extended-Fab__icon" name="brand-linkedin"
                                                matListItemIcon></i-tabler>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="teacher__bio">
                            <h3>Short Bio</h3>
                            <p>Only a quid me old mucker squiffy tomfoolery grub cheers ruddy cor blimey guvnor in my
                                flat,
                                up the duff Eaton car boot up the kyver pardon you A bit of how's your father David
                                skive
                                off
                                sloshed, don't get shirty with me chip shop vagabond crikey bugger Queen's English chap.
                                Matie boy nancy boy bite your arm off up the kyver old no biggie fantastic boot, David
                                have
                                it show off show off pick your nose and blow off lost the plot porkies bits and bobs
                                only a
                                quid bugger all mate, absolutely bladdered bamboozled it's your round don't get shirty
                                with
                                me down the pub well.</p>
                        </div>

                    </div>

                </div>
                <div class="teacher__courses pt-55">
                    <div class="section__title-wrapper mb-30">
                        <h2 class="section__title">University <span class="yellow-bg yellow-bg-big">News<img
                                    src="assets/images/shape/yellow-bg.png"
                                    style="margin-bottom: -1.3rem; margin-left: .6rem;" alt=""></span></h2>
                    </div>
                    <div class="teacher__course-wrapper">
                        <div class="teacher__course-wrapper">
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                        <div class="course__thumb w-img p-relative fix">
                                            <a href="course-details.html">
                                                <img src="assets/front/img/course/course-1.jpg" alt="">
                                            </a>
                                            <div class="course__tag">
                                                <a href="#">Art & Design</a>
                                            </div>
                                        </div>
                                        <div class="course__content">
                                            <div class="course__meta d-flex align-items-center justify-content-between">
                                                <div class="course__lesson">
                                                    <span><i class="far fa-book-alt"></i>43 Lesson</span>
                                                </div>
                                                <div class="course__rating">
                                                    <span><i class="icon_star"></i>4.5 (44)</span>
                                                </div>
                                            </div>
                                            <h3 class="course__title"><a href="course-details.html">Become a product
                                                    Manager
                                                    learn the skills & job.</a></h3>
                                            <div class="course__teacher d-flex align-items-center">
                                                <div class="course__teacher-thumb mr-15">
                                                    <img src="assets/front/img/course/teacher/teacher-1.jpg" alt="">
                                                </div>
                                                <h6><a href="#">Jim Séchen</a></h6>
                                            </div>
                                        </div>
                                        <div class="course__more d-flex justify-content-between align-items-center">
                                            <div class="course__status">
                                                <span>Free</span>
                                            </div>
                                            <div class="course__btn">
                                                <a href="course-details.html" class="link-btn">
                                                    Know Details
                                                    <i class="far fa-arrow-right"></i>
                                                    <i class="far fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                        <div class="course__thumb w-img p-relative fix">
                                            <a href="course-details.html">
                                                <img src="assets/front/img/course/course-2.jpg" alt="">
                                            </a>
                                            <div class="course__tag">
                                                <a href="#" class="sky-blue">Mechanical</a>
                                            </div>
                                        </div>
                                        <div class="course__content">
                                            <div class="course__meta d-flex align-items-center justify-content-between">
                                                <div class="course__lesson">
                                                    <span><i class="far fa-book-alt"></i>72 Lesson</span>
                                                </div>
                                                <div class="course__rating">
                                                    <span><i class="icon_star"></i>4.5 (44)</span>
                                                </div>
                                            </div>
                                            <h3 class="course__title"><a href="course-details.html">Fundamentals of
                                                    music
                                                    theory Learn new</a></h3>
                                            <div class="course__teacher d-flex align-items-center">
                                                <div class="course__teacher-thumb mr-15">
                                                    <img src="assets/front/img/course/teacher/teacher-2.jpg" alt="">
                                                </div>
                                                <h6><a href="#">Barry Tone</a></h6>
                                            </div>
                                        </div>
                                        <div class="course__more d-flex justify-content-between align-items-center">
                                            <div class="course__status d-flex align-items-center">
                                                <span class="sky-blue">$32.00</span>
                                                <span class="old-price">$68.00</span>
                                            </div>
                                            <div class="course__btn">
                                                <a href="course-details.html" class="link-btn">
                                                    Know Details
                                                    <i class="far fa-arrow-right"></i>
                                                    <i class="far fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                        <div class="course__thumb w-img p-relative fix">
                                            <a href="course-details.html">
                                                <img src="assets/front/img/course/course-3.jpg" alt="">
                                            </a>
                                            <div class="course__tag">
                                                <a href="#" class="green">Development</a>
                                            </div>
                                        </div>
                                        <div class="course__content">
                                            <div class="course__meta d-flex align-items-center justify-content-between">
                                                <div class="course__lesson">
                                                    <span><i class="far fa-book-alt"></i>14 Lesson</span>
                                                </div>
                                                <div class="course__rating">
                                                    <span><i class="icon_star"></i>3.5 (55)</span>
                                                </div>
                                            </div>
                                            <h3 class="course__title"><a href="course-details.html">Strategy law and
                                                    organization Foundation</a></h3>
                                            <div class="course__teacher d-flex align-items-center">
                                                <div class="course__teacher-thumb mr-15">
                                                    <img src="assets/front/img/course/teacher/teacher-3.jpg" alt="">
                                                </div>
                                                <h6><a href="#">Elon Gated</a></h6>
                                            </div>
                                        </div>
                                        <div class="course__more d-flex justify-content-between align-items-center">
                                            <div class="course__status d-flex align-items-center">
                                                <span class="green">$46.00</span>
                                                <span class="old-price">$68.00</span>
                                            </div>
                                            <div class="course__btn">
                                                <a href="course-details.html" class="link-btn">
                                                    Know Details
                                                    <i class="far fa-arrow-right"></i>
                                                    <i class="far fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                        <div class="course__thumb w-img p-relative fix">
                                            <a href="course-details.html">
                                                <img src="assets/front/img/course/course-4.jpg" alt="">
                                            </a>
                                            <div class="course__tag">
                                                <a href="#" class="blue">Marketing</a>
                                            </div>
                                        </div>
                                        <div class="course__content">
                                            <div class="course__meta d-flex align-items-center justify-content-between">
                                                <div class="course__lesson">
                                                    <span><i class="far fa-book-alt"></i>22 Lesson</span>
                                                </div>
                                                <div class="course__rating">
                                                    <span><i class="icon_star"></i>4.5 (42)</span>
                                                </div>
                                            </div>
                                            <h3 class="course__title"><a href="course-details.html">The business
                                                    Intelligence
                                                    analyst Course 2022</a></h3>
                                            <div class="course__teacher d-flex align-items-center">
                                                <div class="course__teacher-thumb mr-15">
                                                    <img src="assets/front/img/course/teacher/teacher-4.jpg" alt="">
                                                </div>
                                                <h6><a href="#">Eleanor Fant</a></h6>
                                            </div>
                                        </div>
                                        <div class="course__more d-flex justify-content-between align-items-center">
                                            <div class="course__status d-flex align-items-center">
                                                <span class="blue">$62.00</span>
                                                <span class="old-price">$97.00</span>
                                            </div>
                                            <div class="course__btn">
                                                <a href="course-details.html" class="link-btn">
                                                    Know Details
                                                    <i class="far fa-arrow-right"></i>
                                                    <i class="far fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>