<div class="error-container">
    <div *ngIf="err.errors?.['required']">
      required
    </div>
    <div *ngIf="err.errors?.['pattern']">
      Invalid format
    </div>
    <div *ngIf="err.errors?.['minlength']">
      Minimum length should be 8 characters
    </div>
    <div *ngIf="err.errors?.['maxlength']">
      Maximum length should be 8 characters
    </div>
    <div *ngIf="err.errors?.['min']">
        Minimume Errone
    </div>
    <div *ngIf="err.errors?.['max']">
        Maximum Errone
    </div>
    <!-- New condition for email format -->

  </div>
  