<h1 mat-dialog-title style="margin-bottom: 1rem">Add News</h1>
<!-- <div class="section__title-wrapper">
  <h2 mat-dialog-title class="section__title">
    Get in<span class="yellow-bg yellow-bg-big"
      >touch<img src="./assets/images/shape/yellow-bg.png" alt=""
    /></span>
  </h2>
</div> -->
<div mat-dialog-content>
    <!-- Your form or content for adding a user goes here -->
    <div class="contact__form">
        <form #f="ngForm" >
            <div class="row">




                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="contact__form-input">
                        <label for="titreActualite">Titre </label>
                        <input type="text" placeholder="titre Actualite" id="titreActualite" name="titreActualite"  ngModel #titre="ngModel"  required/>
                    </div>
                </div>

              <div *ngIf="titre.invalid && titre.touched" class="alert-danger">
                <app-error [err]="titre"></app-error>
              </div>
                <!--<div class="col-12">
                    <div class="contact__form-input">
                        <label for="dateActualite">Date</label>
                        <div style="display: flex;">
                            <input type="text" placeholder="YYYY-MM-DD" id="dateActualite" name="dateActualite" matInput
                                [matDatepicker]="picker" ngModel />
                            <mat-datepicker-toggle matIconSuffix [for]="picker"
                                style="margin: .7rem 0 0 -3rem"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="contact__form-input">
                        <label for="description">Description</label>
                        <input type="text" placeholder="description" id="description" name="description" ngModel required #description="ngModel" />
                    </div>
                </div>
              <div *ngIf="description.invalid && description.touched" class="alert-danger">
                <app-error [err]="description"></app-error>
              </div>

                <div class="col-12" style="margin-top: 1rem">
                    <button type="submit" mat-flat-button color="primary" (click)="addActualite(f.value)" [disabled]="">
                       Ajouter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="closeDialog()"></button>
</div> -->
