<main>

    <section class="teacher__area pt-50 pb-110">
        <div class="page__title-shape">
            <img class="page-title-shape-5 d-none d-sm-block" src="assets/images/page-title/page-title-shape-1.png"
                alt="">
            <img class="page-title-shape-6" src="assets/images/page-title/page-title-shape-6.png" alt="">
            <img class="page-title-shape-3" src="assets/images/page-title/page-title-shape-3.png" alt="">
            <img class="page-title-shape-7" src="assets/images/page-title/page-title-shape-4.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="teacher__details-thumb p-relative w-img pr-30">
                        <div class="uni__img__container">
                            <img class="teacher-details-shape-1" style="width: 300px; height: 200px;"
                                [src]="foyerDetails.imageFoyer" alt="Image Foyer">

                        </div>
                        <div class="teacher__details-shape">
                            <img class="teacher-details-shape-1" src="assets/images/teacher/details/shape/shape-1.png"
                                alt="">
                            <img class="teacher-details-shape-2" src="assets/images/teacher/details/shape/shape-2.png"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="teacher__wrapper">
                        <div class="teacher__top d-md-flex align-items-end justify-content-between">
                            <div class="teacher__info">

                                <h4>{{ foyerDetails.nomFoyer }}</h4>
                                <!-- <span>se former autrement</span> -->
                            </div>

                            <div class="teacher__social-2 m-t-32">

                                <ul>
                                    <li>
                                        <a href="#" mat-icon-button
                                            class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                                            <i-tabler style="color: #3967ff; font-weight: 100;"
                                                class="routeIcon Extended-Fab__icon" name="brand-facebook"
                                                matListItemIcon></i-tabler>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" mat-icon-button
                                            class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                                            <i-tabler style="color: #292929; font-weight: 100;"
                                                class="routeIcon Extended-Fab__icon" name="brand-x"
                                                matListItemIcon></i-tabler>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" mat-icon-button
                                            class="d-flex mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                                            <i-tabler style="color: #6f90ff; font-weight: 100;"
                                                class="routeIcon Extended-Fab__icon" name="brand-linkedin"
                                                matListItemIcon></i-tabler>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="teacher__bio">

                            <h4>Details Foyer</h4>

                            <div>
                                <span class="detail-label">Capacité du Foyer:</span>
                                <span class="detail-value">{{ foyerDetails.capaciteFoyer }}</span>
                            </div>
                            <div>
                                <span class="detail-label">Superficie du Foyer:</span>
                                <span class="detail-value">{{ foyerDetails.superficie }}m²</span>
                            </div>
                            <div>
                                <span class="detail-label">Nombre de like:</span>
                                <span class="detail-value">{{ foyerDetails.likeFoyer }}</span>
                            </div>
                            <div>
                                <span class="detail-label">Nombre de dislike:</span>
                                <span class="detail-value">{{ foyerDetails.dislikeFoyer }}</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>



        </div>
        <!-- </div> -->

    </section>

</main>


<app-bloc-list-dash [blocs]="blocs"></app-bloc-list-dash>