
   <main>
     
     <!-- Reset Password Dialog -->
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="text-center">
          <h3><i class="fa fa-lock fa-4x" style="color: #005effbb;"></i></h3>
        </div>

        <p class="text-center">You can reset your password here.</p>

        <div class="sign__form">
          <form role="form" (ngSubmit)="onSubmit()" [formGroup]="resetForm" #f="ngForm">
            <div class="sign__input-wrapper mb-3">
              <h5></h5>
              <div class="sign__input error">
                <input type="email" formControlName="email" placeholder="Email Address" required />
                <i class="fal fa-envelope"></i>
              </div>
              <div *ngIf="formSubmitted && form['email']?.invalid" class="error-message">
                <app-error [err]="form['email']"></app-error>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
  