<main>
  <!-- <div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted">
      <div class="row">
          <div class="col-sm-8">
              <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Universitie detail</h4>
              <div class="d-flex align-items-center overflow-hidden"></div>
          </div>
          <div class="col-sm-4 text-right position-relative">
              <div class="breadcrumb-icon">
                  <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165" />
              </div>
          </div>
      </div>
  </div> -->

  <section class="teacher__area pt-150 pb-110">
    <div class="page__title-shape">
      <img class="page-title-shape-5 d-none d-sm-block" src="assets/images/page-title/page-title-shape-1.png"
           alt="">
      <img class="page-title-shape-6" src="assets/images/page-title/page-title-shape-6.png" alt="">
      <img class="page-title-shape-3" src="assets/images/page-title/page-title-shape-3.png" alt="">
      <img class="page-title-shape-7" src="assets/images/page-title/page-title-shape-4.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
          <div class="teacher__details-thumb p-relative w-img pr-30">
            <div class="uni__img__container">
              <img class="uni__img" src="assets/images/teacher/esprit.jpg" alt="">
            </div>
            <div class="teacher__details-shape">
              <img class="teacher-details-shape-1" src="assets/images/teacher/details/shape/shape-1.png"
                   alt="">
              <img class="teacher-details-shape-2" src="assets/images/teacher/details/shape/shape-2.png"
                   alt="">
            </div>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8">
          <div class="teacher__wrapper">
            <div class="teacher__top d-md-flex align-items-end justify-content-between">
              <div class="teacher__info">
                <h4>{{actualiteDetails.titreActualite}}</h4>
                <span>{{actualiteDetails.dateActualite}}</span>
              </div>


            </div>
            <div class="teacher__bio">

              <p>{{actualiteDetails.description}}.</p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>
</main>
