<main>
    <!-- <div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Universitie detail</h4>
                <div class="d-flex align-items-center overflow-hidden"></div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon">
                    <img src="/assets/images/breadcrumb/ChatBc.png" alt="breadcrumb" width="165" />
                </div>
            </div>
        </div>
    </div> -->

    <section class="teacher__area pt-50 pb-110">

        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="teacher__details-thumb p-relative w-img pr-30">
                        <div class="uni__img__container">
                            <img src="{{imageBasePath + universityDetails.image}}"alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="teacher__wrapper">
                        <div class="teacher__top d-md-flex align-items-end justify-content-between">
                            <div class="teacher__info">
                                <h4>{{ universityDetails.nomUniversite }}</h4>
                                <span>s{{ universityDetails.ville }}</span>
                            </div>

                          <div class="teacher__social-2 m-t-32">
                            <h4>Contactez nous</h4>
                            <h5><mat-icon>phone</mat-icon> {{ universityDetails.telUniversite }}</h5>
                            <h5><mat-icon>email</mat-icon> {{ universityDetails.emailUinversite }}</h5>
                          </div>
                        </div>

                        <div class="teacher__bio">
                            <h3>{{ universityDetails.adresseUniversite }}</h3>
                          <h4>{{ universityDetails.foyer.nomFoyer }}</h4>
                            <p>{{ universityDetails.descriptionUniversite }}.</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
</main>
