@import "../../../assets/css/default.css";
@import "../../../assets/css/style.css";

.Extended-Fab--social {
  border-radius: 200rem !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  &__icon {
    display: inline-block;
    width: 1rem !important;
    height: 1rem !important;
  }
}

.uni__img {
  &__container {
    width: 100%;
    height: 20rem;
  }

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tableImage {
  &__container {
    width: 80px;
    height: 60px;
    border-radius: 2rem;
    margin-right: 1.5rem;
  }

  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.descriptionColumn {
  max-width: 12rem;
  height: 100%;
  // appearance: none;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
