<h1 mat-dialog-title style="margin-bottom: 2rem">Modifier Bloc</h1>

<div mat-dialog-content>
  <!-- Your form or content for adding a user goes here -->
  <div class="contact__form">
    <form [formGroup]="formbuild" >
      <div class="row">
        <div class="col-12 m-b-30">


        </div>
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="contact__form-input">
            <label class="contact__form-input-label" for="nomBloc">Nom Bloc</label>
            <input type="text" placeholder="nom Bloc" name="nomBloc" id="nomBloc" formControlName="nomBloc" />
          </div>
        </div>
        <div *ngIf="formbuild.get('nomBloc')?.invalid && formbuild.get('nomBloc')?.touched"  [ngClass]="{'error-message': true}">
          <div *ngIf="formbuild.get('nomBloc')?.errors?.['required']">
            required.
          </div>
          <div *ngIf="formbuild.get('nomBloc')?.errors?.['pattern']">
            Le nom de foyer doit contenir uniquement des lettres.
          </div>

        </div>

        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="contact__form-input">
            <label class="contact__form-input-label" for="capaciteBloc"> Capacite Bloc</label>
            <input type="number" placeholder="capacite Bloc" name="capaciteBloc" id="capaciteBloc"
              formControlName="capaciteBloc" />
          </div>
        </div>
        <div *ngIf="formbuild.get('capaciteBloc')?.invalid && formbuild.get('capaciteBloc')?.touched"  [ngClass]="{'error-message': true}">
          <div *ngIf="formbuild.get('capaciteBloc')?.errors?.['required']">
            required.
          </div>

          <div *ngIf="formbuild.get('capaciteBloc')?.errors?.['max']">
            La capacité de bloc doit contenir maximum 300.
          </div>
        </div>


        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="contact__form-input">
            <label class="contact__form-input-label" for="nombreEtage"> Nombre etage</label>
            <input type="number" placeholder="nombreEtage" name="nombreEtage" id="nombreEtage"
              formControlName="nombreEtage" />
          </div>
        </div>
        <div *ngIf="formbuild.get('nombreEtage')?.invalid && formbuild.get('nombreEtage')?.touched"  [ngClass]="{'error-message': true}">
          <div *ngIf="formbuild.get('nombreEtage')?.errors?.['required']">
            required.
          </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="contact__form-input">
            <label class="contact__form-input-label" for="nomFoyer">Nom foyer</label>
            <input type="text" placeholder="nom foyer" name="nomFoyer" id="nomFoyer" formControlName="nomFoyer" readonly   />
          </div>
        
      </div>

        <div class="col-xxl-6 col-xl-6 col-md-6">
        
            <label class="contact__form-input-label" for="newImageBloc">Nouvelle image de bloc</label>
            <input type="file" formControlName="newImageBloc" id="newImageBloc"  />
   
        </div>

        <div class="col-12" style="margin-top: 1rem">
          <button type="submit" mat-flat-button color="primary" (click)="updateBloc(formbuild.value)"
            [disabled]="formbuild.invalid">
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>