
<h1 mat-dialog-title style="margin-bottom: 1rem">Modifier Restaurant</h1>

<!-- <div class="section__title-wrapper">
  <h2 mat-dialog-title class="section__title">
    Get in<span class="yellow-bg yellow-bg-big"
      >touch<img src="./assets/images/shape/yellow-bg.png" alt=""
    /></span>
  </h2>
</div> -->
<div mat-dialog-content>
  <!-- Your form or content for adding a user goes here -->
  <!-- Hne 5demt el update b formBuilder-->
  <div class="contact__form">
    <form [formGroup]="frombuil"> <!-- Hne 5demt el update b formBuilder-->
      <div class="row">
        <div class="col-12 m-b-30">
          <div class="contact__form-input__image__container">
            <img class="contact__form-input__image" [src]="imageUrl" alt="Image Preview" />
          </div>
          <div class="contact__form-input contact__form-input__image__btns">
            <input type="file" accept="image/*" id="avatar" name="avatar" (change)="onFileSelected($event)" style="display: none;" #fileInput>
            <button type="button" mat-flat-button class="Extended-Fab" (click)="selectImage()">
                <span class="Extended-Fab__container">
                  <i-tabler class="routeIcon Extended-Fab__icon" name="cloud-upload" matListItemIcon></i-tabler>
                  <span class="Extended-Fab__text">Select Image</span>
                </span>
            </button>


          </div>
        </div>
       <div class="col-12">
          <div class="contact__form-input">
            <label for="dateFermeture">dateFermeture</label>
            <input type="text" placeholder="ville" id="dateFermeture" formControlName="dateFermeture" />
            <div *ngIf="frombuil.get('dateFermeture')?.invalid && frombuil.get('dateFermeture')?.touched" class="alert alert-danger">
              date d'Fermeture est requis!
            </div>
          </div>
        </div>
       < <div class="col-12">
          <div class="contact__form-input">
            <label for="dateOuverture">dateOuverture</label>
            <input type="text" placeholder="num tel" id="dateOuverture" formControlName="dateOuverture" />
            <div *ngIf="frombuil.get('dateOuverture')?.invalid && frombuil.get('dateOuverture')?.touched" class="alert alert-danger">
              date d'Ouverture est requis!
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="contact__form-input">
            <label for="nomResto">Nom Restaurant</label>
            <input type="email" placeholder="Nom Restaurant" id="nomResto" formControlName="nomRestaurant" />
            <div *ngIf="frombuil.get('nomRestaurant')?.invalid && frombuil.get('nomRestaurant')?.touched" class="alert alert-danger">
              Nom du restaurant est requis!
            </div>
          </div>
        </div>
        <input type="file" accept="image/*" id="Image" name="imageUrl" ngModel #fileInput
               (change)="onImageFileSelected($event)" />
        <div class="col-12" style="margin-top: 1rem">
          <button type="submit" mat-flat-button color="primary" (click)="submitForm(frombuil)">
            Enregistrer
          </button>
          <!--img [src]="imageUrl" alt="Restaurant Image" --/-->

        </div>

      </div>
    </form>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="closeDialog()"></button>
</div> -->
