<main>

  <section class="teacher__area pt-50 pb-110">
    <div class="page__title-shape">
      <img class="page-title-shape-5 d-none d-sm-block" src="assets/images/page-title/page-title-shape-1.png"
           alt="">
      <img class="page-title-shape-6" src="assets/images/page-title/page-title-shape-6.png" alt="">
      <img class="page-title-shape-3" src="assets/images/page-title/page-title-shape-3.png" alt="">
      <img class="page-title-shape-7" src="assets/images/page-title/page-title-shape-4.png" alt="">
    </div>
    <div class="container">
      <div class="row">


        <div class="teacher__courses pt-55">
          <div class="section__title-wrapper mb-30">
            <h2 class="section__title">Vos <span class="yellow-bg yellow-bg-big">Reservation<img
              src="assets/images/shape/yellow-bg.png"
              style="margin-bottom: -1.3rem; margin-left: .6rem;" alt=""></span></h2>
          </div>
          <div class="teacher__course-wrapper">
            <div class="row">
              <mat-card class="cardWithShadow">
                <mat-card-content>
                  <div class="col" style="margin-top: 2rem">
                    <mat-card class="cardWithShadow">
                      <div  class="table-responsive m-t-16">
                        <table class="w-100">
                          <thead>
                          <tr>

                            <th class="f-w-600 mat-subtitle-1 f-s-14">
                              Date de Reservation
                            </th>


                            <th class="f-w-600 mat-subtitle-1 f-s-14">
                              Numero Chambre
                            </th>

                            <th class="f-w-600 mat-subtitle-1 f-s-14">
                              Bloc
                            </th>

                            <th class="f-w-600 mat-subtitle-1 f-s-14">
                              Foyer
                            </th>


                            <th class="f-w-600 mat-subtitle-1 f-s-14">
                              Validite
                            </th>

                            <th class="f-w-600 mat-subtitle-1 f-s-14">
                              #action
                            </th>

                          </tr>

                          </thead>

                          <tbody *ngFor="let data of datas ">

                          <td>
                            <div class="d-flex align-items-center">
                              <div class="m-l-16">
                                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                                  {{ data.anneeUniv | date:'dd-MM-yyyy' }}
                                </h6>
                              </div>
                            </div>
                          </td>
                          <td class="mat-body-1">
                            {{data.chambre.numeroChambre}}
                          </td>
                          <td class="mat-body-1">
                            {{data.chambre.bloc.nomBloc}}
                          </td>
                          <td class="mat-body-1">
                            {{data.chambre.bloc.foyer.nomFoyer}}
                          </td>

                          <td>
                            <div *ngIf="data.estValide !=null && data.estValide == true ">
                                    <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                                       Reservation valide
                                    </span>
                            </div>

                            <div *ngIf="data.estValide !=null && data.estValide == false ">
                                    <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                                      Reservation n'est pas valide
                                    </span>
                            </div>


                          </td>

                          <td class="mat-body-1" style="display: flex;">

                            <span class="m-x-1"></span>

                            <a mat-icon-button="" color="primary" (click)="removeReservation(data.idReservation)"
                               class="d-flex mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base"
                               mat-button-is-fab="false">
                              <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span>
                              <i-tabler
                                style="color: #ff8e8e" name="trash" class="icon-20"
                                _nghost-ng-c2034356942="">
                              </i-tabler>
                              <span
                                class="mat-mdc-focus-indicator"></span><span
                              class="mat-mdc-button-touch-target"></span><span
                              class="mat-mdc-button-ripple"></span>
                            </a>

                          </td>
                          </tbody>

                        </table>
                      </div>
                      <div class="table-responsive m-t-16" *ngIf="datas==null">
                      <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                                      Aucune Reservation
                                    </span>
                      </div>

                    </mat-card>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>




