<div class="course__item white-bg mb-30 fix">
  <div class="course__thumb w-img p-relative fix">

    <a href="course-details.html">
      <img [src]="imageUrl" alt="Image Chambre" />
    </a>

  </div>
  <div class="course__content">
    <div class="course__meta d-flex align-items-center justify-content-between">
      <div class="course__rating">
        <span><i class="icon_star"></i>4.5 (44)</span>
      </div>
    </div>
    <h3 class="course__title">
      Chambre Numero : {{dataIn.numeroChambre}}

      <br>
      Type Chambre : {{dataIn.typeChambre}}


    </h3>
  </div>

</div>